examples/rng/example.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="person">
            <attribute name="id">
                <data type="ID"/>
            </attribute>
            <element name="name">
                <data type="string"/>
            </element>
            <element name="age">
                <data type="integer">
                    <param name="minInclusive">0</param>
                    <param name="maxInclusive">150</param>
                </data>
            </element>
            <element name="email">
                <data type="string">
                    <param name="pattern">[^@]+@[^@]+</param>
                </data>
            </element>
            <element name="birthdate">
                <data type="date"/>
            </element>
            <element name="salary">
                <data type="decimal"/>
            </element>
            <optional>
                <element name="active">
                    <data type="boolean"/>
                </element>
            </optional>
            <attribute name="type">
                <choice>
                    <value>employee</value>
                    <value>contractor</value>
                    <value>intern</value>
                </choice>
            </attribute>
        </element>
    </start>
</grammar>