examples/rng/simple.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="person">
            <element name="name">
                <text/>
            </element>
            <element name="age">
                <data type="integer"/>
            </element>
        </element>
    </start>
</grammar>
