examples/separate_types.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="characterType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="screentime" type="xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="filmidtype">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="filmtype">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="character" maxOccurs="unbounded" type="characterType"/>
        </xs:sequence>
        <xs:attribute name="filmid" type="filmidtype" use="required"/>
    </xs:complexType>

    <xs:element name="film" type="filmtype"/>
</xs:schema>
